<div>
  <form action="">
      <mat-form-field>
          <input matInput placeholder="Clave de usuario">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Nombre de usuario">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Contraseña" [type]="'password'">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Confirmar contraseña" [type]="'password'">
      </mat-form-field>
      <button>Cancelar</button>
      <button>Guardar</button>
  </form>

</div>